#unique {
  color: gray;
  background-color: purple;
}

.monochrome {
  color: white;
  background-color: black;
}

.patriotic {
  color: red;
  background-color: blue;
}

p {
  border-color: slategray;
  border width: 3px;
  border-style: double;

}

P {
  color: white;
  background-color: black;
}

p {
  color: red;
  background-color: blue;
}
