p {
  font-family: 'Monoton', cursive;
  color: white;
}

.thin-blue-round-border {
  border-color: blue;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
}

#paragraph-background-color {
  background: linear-gradient(#e66465, #9198e5);
}
